<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>FetchGroups</servlet-name>
        <servlet-class>Project.servlets.FetchGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveGroup</servlet-name>
        <servlet-class>Project.servlets.SaveGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchProjects</servlet-name>
        <servlet-class>Project.servlets.FetchProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProject</servlet-name>
        <servlet-class>Project.servlets.SaveProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchGroupMembers</servlet-name>
        <servlet-class>Project.servlets.FetchGroupMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveGroupMember</servlet-name>
        <servlet-class>Project.servlets.SaveGroupMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchGroupInvites</servlet-name>
        <servlet-class>Project.servlets.FetchGroupInvites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptGroupInvite</servlet-name>
        <servlet-class>Project.servlets.SaveGroupInvite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclineGroupInvite</servlet-name>
        <servlet-class>Project.servlets.DeclineGroupInvite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveGroup</servlet-name>
        <servlet-class>Project.servlets.LeaveGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchTasks</servlet-name>
        <servlet-class>Project.servlets.FetchTasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTask</servlet-name>
        <servlet-class>Project.servlets.SaveTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveGroupInvite</servlet-name>
        <servlet-class>Project.servlets.SaveGroupInvite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchMeetingsUnconfirmed</servlet-name>
        <servlet-class>Project.servlets.FetchMeetingsUnconfirmed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchMeetingsConfirmed</servlet-name>
        <servlet-class>Project.servlets.FetchMeetingsConfirmed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchMeetings</servlet-name>
        <servlet-class>Project.servlets.FetchMeetings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTask</servlet-name>
        <servlet-class>Project.servlets.RemoveTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchTaskDocuments</servlet-name>
        <servlet-class>Project.servlets.FetchTaskDocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDocument</servlet-name>
        <servlet-class>Project.servlets.SaveDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchFiles</servlet-name>
        <servlet-class>Project.servlets.FetchFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFile</servlet-name>
        <servlet-class>Project.servlets.SaveFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDocument</servlet-name>
        <servlet-class>Project.servlets.RemoveDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFile</servlet-name>
        <servlet-class>Project.servlets.RemoveFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchGroups</servlet-name>
        <url-pattern>/FetchGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveGroup</servlet-name>
        <url-pattern>/SaveGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchProjects</servlet-name>
        <url-pattern>/FetchProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProject</servlet-name>
        <url-pattern>/SaveProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchGroupMembers</servlet-name>
        <url-pattern>/FetchGroupMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveGroupMember</servlet-name>
        <url-pattern>/SaveGroupMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchGroupInvites</servlet-name>
        <url-pattern>/FetchGroupInvites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptGroupInvite</servlet-name>
        <url-pattern>/AcceptGroupInvite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclineGroupInvite</servlet-name>
        <url-pattern>/DeclineGroupInvite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveGroup</servlet-name>
        <url-pattern>/LeaveGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchTasks</servlet-name>
        <url-pattern>/FetchTasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTask</servlet-name>
        <url-pattern>/SaveTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveGroupInvite</servlet-name>
        <url-pattern>/SaveGroupInvite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchMeetingsUnconfirmed</servlet-name>
        <url-pattern>/FetchMeetingsUnconfirmed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchMeetingsConfirmed</servlet-name>
        <url-pattern>/FetchMeetingsConfirmed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchMeetings</servlet-name>
        <url-pattern>/FetchMeetings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTask</servlet-name>
        <url-pattern>/RemoveTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchTaskDocuments</servlet-name>
        <url-pattern>/FetchTaskDocuments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDocument</servlet-name>
        <url-pattern>/SaveDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchFiles</servlet-name>
        <url-pattern>/FetchFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFile</servlet-name>
        <url-pattern>/SaveFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDocument</servlet-name>
        <url-pattern>/RemoveDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFile</servlet-name>
        <url-pattern>/RemoveFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
